<header class="header__container">
  <div class="page__wrapper grid__container">

    <div class="header__logo">
      <a href="https://adalab.es/" class="header__logo--link">
        <img src="../assets/images/logo-adalab.png" alt="logo de adalab" class="header__logo--item">
      </a>
    </div>
    <ul class="header__menu">
      <li class="header__menu--item1">
        <a href="https://medium.com/adalab" class="header__logomenu--link">blog</li>
      <li class="header__menu--item2">
        <a href="https://adalab.es/contacto.html" class="header__logomenu--link">contacto</li>
    </ul>
  </div>
</header>