<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e s1 evaluación final bis</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">

</head>

<body>
  <div class="page">
    <div class="page__wrapper">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </div>
</body>

</html>

<!-- <link rel="icon" href="favicon.png"/> -->
