.header__container{
    background-color: $white;
    text-align: center;
    height: 112px;
    }

.grid__container{
    @media all and (min-width:768px){
        height: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";


}
}
.header__logo{
    margin:0 auto;
    @media all and (min-width:768px){
        margin: auto 0;
        grid-area: a;
        justify-self: start;
    }




 
 

}
.header__logo--link{
    

}
.header__logo--item{
    width: 155px;
    height: 60px;
    margin-top: 10px;
    @media all and (min-width: 768px){
    margin: 20px auto;
    
}

}
.header__menu{
    font-family: $font;
    font-size: 16px;
    color: $menu-grey;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 13px;
    @media all and (min-width: 768px){
        grid-area: b;
        justify-self: end;
        align-self: center;
      }



}
.header__menu--item1{ 
    padding-right: 20px;
}
    