.main__container {
  background: url('../images/photo-1494438639946-1ebd1d20bf85.jpeg') center center no-repeat;
  background-position: 66%;
  height: 100vh;
  min-height: 366px;
  background-size: cover;
  display: flex;
  align-items: center;

  @media all and (min-width: 768px) {
    min-height: 834px;
    background-position: 60%;
  }
}


.main__title {
  max-width: 161px;

  @media all and (min-width: 768px) {
    max-width: 322px;
  }
}


.main__title--text {
  color: $white;
  font-family: $font;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0 auto;
  align-self: center;

  @media all and (min-width: 768px) {
    font-size: 60px;
  }
}